.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    background-color: var(--gray);
    color: white;
    padding: 1rem 1rem;
    border-radius: 5px;
}

.app-container.light {
    background-color: white;
    color: var(--light-gray);
    border: 2px solid var(--light-gray);
}

.filter-form {
    margin-bottom: 2rem;
}

.todo-list {}

.new-todo-form {
    margin-top: 2rem;
}

@media only screen and (max-width: 325px) {
    .app-container {
        display: none;
    }
}