:root {
    --font-family: "Raleway", sans-serif;

    --dark-gray: #222;
    --gray: #444;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: var(--dark-gray);
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
}