.new-todo-form {
    display: flex;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.new-todo-form:hover {
    --scale-x: 1.05;
    --scale-y: 1.05;
    transform: scaleX(var(--scale-x)) scaleY(var(--scale-y));
}

.new-todo-form:active {
    --scale-x: 1.00;
    --scale-y: 1.00;
    transform: scaleX(var(--scale-x)) scaleY(var(--scale-y));
}

.new-todo-form input {
    background-color: var(--dark-gray);
    color: var(--green);
    padding: 0.75rem 1rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    width: 10rem;
    border-radius: 0.5rem 0 0 0.5rem;
    border-width: 2px;
    border-style: solid;
    border-color: var(--dark-gray);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.new-todo-form input.light {
    background-color: var(--lighter-gray);
    border-color: var(--light-gray);
    color: white;
}

.new-todo-form input.light::placeholder {
    color: white;
}

.new-todo-form input:focus {
    border-color: var(--green);
}

.new-todo-form button {
    background-image: linear-gradient(to right, var(--green), var(--blue));
    color: white;
    width: 5rem;
    border-radius: 0 0.5rem 0.5rem 0;
}