.filter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-form-group input {
    background-color: var(--dark-gray);
    color: var(--green);
    padding: 0.75rem 1rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    width: 15rem;
    border-radius: 0.5rem;
    border-width: 2px;
    border-style: solid;
    border-color: var(--dark-gray);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.filter-form-group input.light {
    background-color: var(--lighter-gray);
    border-color: var(--light-gray);
    color: white;
}

.filter-form-group input.light::placeholder {
    color: white;
}

.filter-form-group input:focus {
    border-color: var(--green);
}

.checkbox-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}