.new-todo-form {
    display: flex;
}

.new-todo-form input {
    background-color: var(--dark-gray);
    color: white;
    padding: 0.75rem 1rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    width: 10rem;
    border-radius: 0.5rem 0 0 0.5rem;
    border-width: 2px;
    border-style: solid;
    border-color: var(--dark-gray);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.new-todo-form input:focus {
    border-color: white;
}

.new-todo-form button {
    background-color: white;
    color: black;
    width: 5rem;
    border-radius: 0 0.5rem 0.5rem 0;
}

@media (max-width: 639px) {
    .new-todo-form input {
        width: 5rem
    }
}