.list-item {
    padding: 0.5rem 0 0.5rem 0;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.list-item:hover {
    --scale-x: 1.05;
    --scale-y: 1.05;
    transform: scaleX(var(--scale-x)) scaleY(var(--scale-y));
}

.list-item form {
    display: flex;
}

.list-item form input {
    background-color: var(--dark-gray);
    color: white;
    padding: 0.75rem 1rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    width: 10rem;
    border-radius: 0.5rem 0 0 0.5rem;
    border-width: 2px;
    border-style: solid;
    border-color: var(--dark-gray);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.list-item form input.light {
    background-color: var(--lighter-gray);
    border-color: var(--light-gray);
}

.list-item form input:focus {
    border-color: var(--green);
}

.list-item form button {
    background-image: linear-gradient(to right, var(--green), var(--blue));
    color: white;
    width: 5rem;
    border-radius: 0 0.5rem 0.5rem 0;
}

.list-item div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item-label {
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.list-item-label input {
    display: none;
}

.todo-name {
    cursor: pointer;
    word-break: break-word;
}

.todo-name.completed {
    text-decoration: line-through;
}

.button-container {
    display: flex;
}

.edit-button {
    background-color: var(--light-gray);
    margin: 0 0.5rem 0 0.5rem;
}

.edit-button.light {
    background-color: var(--lighter-gray);
    color: white;
}

.edit-button,
.delete-button {
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.edit-button:hover,
.delete-button:hover {
    --scale-x: 1.05;
    --scale-y: 1.05;
    transform: scaleX(var(--scale-x)) scaleY(var(--scale-y));
}

.delete-button {
    background-color: var(--red);
    color: white;
    margin-left: 0.5rem;
}