.settings-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings-header {
    font-size: 3em;
}

.settings-buttons-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.settings-buttons-container>button {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.settings-buttons-container>button:hover {
    --scale-x: 1.05;
    --scale-y: 1.05;
    transform: scaleX(var(--scale-x)) scaleY(var(--scale-y));
}

.settings-buttons-container>button:active {
    --scale-x: 1.00;
    --scale-y: 1.00;
    transform: scaleX(var(--scale-x)) scaleY(var(--scale-y));
}

.settings-buttons-container>button:not(:last-child) {
    margin-bottom: 0.5rem;
}

.theme-button {
    background-color: var(--light-gray);
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.theme-button.light {
    background-color: var(--dark-gray);
    color: white;
}

.password-change-button {
    background-color: var(--dark-gray);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.password-change-button.light {
    background-color: var(--light-gray);
    color: white;
}

.back-button {
    background-color: var(--dark-gray);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.back-button.light {
    background-color: var(--light-gray);
    color: white;
}