.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-header {
    font-size: 3em;
}

.login-subheader {
    margin-bottom: 1rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-inputs {
    width: 12rem;
    display: flex;
    flex-direction: column;
}

.login-input {
    background-color: var(--dark-gray);
    color: var(--green);
    padding: 0.25rem 0.5rem;
    outline: 2px solid transparent;
    border: 1px solid var(--light-gray);
    border-radius: 0.25rem;
    border-color: var(--dark-gray);
    margin-bottom: 0.5rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.login-input.light {
    background-color: var(--lighter-gray);
    border-color: var(--light-gray);
    color: white;
}

.login-input.light::placeholder {
    color: white;
}

.login-input:hover {
    --scale-x: 1.05;
    --scale-y: 1.05;
    transform: scaleX(var(--scale-x)) scaleY(var(--scale-y));
}

.login-input:focus {
    border-color: var(--green);
}

.error-container {
    color: var(--red);
    font-size: 12px;
    margin-bottom: 0.5rem;
}

.login-buttons {
    width: 12rem;
    display: flex;
    flex-direction: column;
}

.login-submit-button {
    background-image: linear-gradient(to right, var(--green), var(--blue));
    cursor: pointer;
    color: white;
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.login-submit-button:hover {
    --scale-x: 1.05;
    --scale-y: 1.05;
    transform: scaleX(var(--scale-x)) scaleY(var(--scale-y));
}

.register-container {
    margin-top: 0.25rem;
    font-size: 12px;
    display: flex;
    justify-content: space-evenly;
}

.register-button {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.register-button:hover {
    --scale-x: 1.05;
    --scale-y: 1.05;
    transform: scaleX(var(--scale-x)) scaleY(var(--scale-y));
    text-decoration: underline;
}